@charset "UTF-8";
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

body, textarea, input, button, select, keygen, legend {
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: inherit; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -o-box-sizing: content-box;
  /*Opera9.6*/
  box-sizing: border-box; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
input[disabled] {
  cursor: default; }

img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic; }

lable {
  cursor: pointer; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 999px #fff inset; }

/**
 * 常用方法定义
 */
.fl {
  float: left; }

.fr {
  float: right; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.clear-fix:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.clear-fix {
  zoom: 1;
  clear: both; }

.hide {
  display: none; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap; }

.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.ime-disabled {
  -webkit-ime-mode: disabled;
  ime-mode: disabled; }

.word-break {
  word-wrap: break-word;
  word-break: break-all; }

body {
  /**
   * Malgun Gothic是cjk地区韩国用的屏幕字体
   *
   * 
   */
  font: 12px Arial,"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",Malgun Gothic,sans-serif;
  line-height: 1;
  color: #2e3033;
  word-break: break-word; }

a,
a:hover {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

/**
 * 注意：
 * 由于当图片lazyload时候，scroll.event.position.js判断元素是否可见时候使用offsetHeight,offsetWidth判断
 * 因此赋予lazyload的图片最小值，使能通过该验证
 */
.lazy-img {
  min-height: .01rem;
  min-width: .01rem; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #EFF3F5; }

::-webkit-scrollbar-thumb {
  min-height: 50px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: #D2D6D9; }

::-webkit-scrollbar-thumb:hover {
  background-color: #BDC1C4; }

::-webkit-scrollbar-corner {
  background: transparent; }

::-webkit-scrollbar-button {
  height: 0;
  width: 0; }

.g-btn-red,
.g-btn-grey {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle; }

.g-btn-red {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF5E5E), to(#EF4A4A));
  color: #fff; }
  .g-btn-red:link {
    color: #fff; }
  .g-btn-red:hover, .g-btn-red:active {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF7E7E), to(#F14E4E)); }

.g-btn-grey {
  border: 1px solid #919599;
  background: #5f6266;
  color: #f4f4f5; }
  .g-btn-grey:link {
    color: #f4f4f5; }

/**
 * 通用checkbox样式
 */
.g-checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #AAAAAA;
  position: relative;
  top: 2px; }
  .g-checkbox:checked:before {
    content: "\E90B";
    font-family: 'iconfont';
    color: #f83636;
    position: absolute;
    left: -1px;
    font-size: 15px; }

.g-radio {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #6E6E6E;
  position: relative;
  top: 2px; }
  .g-radio:checked:before {
    font-family: 'iconfont';
    content: "\E916";
    color: #f83636;
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0; }

.g-select-group {
  position: relative;
  display: inline-block;
  background: #FFFFFF;
  cursor: pointer;
  background: #fff; }
  .g-select-group .input-select,
  .g-select-group select {
    -webkit-appearance: none;
    appearance: none;
    line-height: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #C6C8CA;
    padding-left: 10px;
    padding-right: 20px;
    color: #74777A;
    position: relative;
    z-index: 1;
    background: transparent; }
  .g-select-group:after {
    font-family: 'iconfont';
    content: "\E921";
    position: absolute;
    right: 5px;
    top: 10px;
    color: #74777A;
    line-height: 1; }

.g-textarea {
  height: 80px;
  border-radius: 3px;
  border: 1px solid #C6C8CA;
  padding: 10px;
  color: #74777A; }

.g-input-text {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #C6C8CA;
  padding: 0 10px;
  color: #74777A; }

.g-btn-normal, .g-btn-disable, .g-btn-active {
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle; }

.g-btn-normal {
  border: 1px solid #919599;
  color: #5F6266;
  background-color: #f4f4f5; }
  .g-btn-normal:hover {
    color: #5F6266; }

.g-btn-disable {
  border: 1px solid #bdc0c3;
  color: #bdc0c3;
  background-color: #eef0f2; }
  .g-btn-disable:hover {
    color: #bdc0c3; }

.g-btn-active {
  border: 1px solid #f83636;
  color: #ffffff;
  background-color: #f83636; }
  .g-btn-active:hover {
    color: #ffffff; }

/**
 * 每个页面右上角的发布日期
 */
._dev_flag {
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  color: #FFF;
  font-size: 12px;
  padding: 0 5px;
  z-index: 10000000; }
._debug_msg {
  position: fixed;
  top: 50px;
  right: 0;
  background: black;
  color: #FFF;
  font-size: 12px;
  padding: 0 5px;
  z-index: 10000000;
  font-size: 12px; }
  ._debug_msg p {
    line-height: 1.5; }
    ._debug_msg p em {
      color: #fff900; }
.category-add {
  position: relative; }
  .category-add input {
    border: none;
    padding: 0 30px 0 10px;
    width: 100%; }
  .category-add .submit {
    position: absolute;
    top: 0;
    right: 0;
    color: #f83636; }
html {
  width: 270px;
  background: #fff; }

.wb-word-opt {
  padding: 20px; }
  .wb-word-opt .category {
    position: relative; }
  .wb-word-opt ul li {
    min-height: 30px;
    line-height: 30px;
    margin-bottom: 10px; }
    .wb-word-opt ul li label {
      display: flex; }
    .wb-word-opt ul li input {
      flex: 1;
      height: 30px;
      margin-left: 10px; }
      .wb-word-opt ul li input[readonly="readonly"] {
        background: #eef0f2; }
    .wb-word-opt ul li .sort-select {
      display: inline-block;
      flex: 1;
      height: 30px;
      padding: 0 10px;
      margin-left: 10px;
      border: 1px solid #C6C8CA;
      cursor: pointer;
      border-radius: 3px; }
      .wb-word-opt ul li .sort-select .icon-down {
        color: #ccc;
        float: right;
        line-height: 30px; }
    .wb-word-opt ul li .pannel-add {
      position: absolute;
      max-height: 210px;
      overflow-y: auto;
      box-shadow: 0 0 10px #d4d4d4;
      border: 1px solid #D2D6D9;
      cursor: pointer;
      border-radius: 5px;
      left: 46px;
      right: 0; }
      .wb-word-opt ul li .pannel-add .category-add input {
        margin-left: 0;
        padding-left: 0; }
      .wb-word-opt ul li .pannel-add .wb-sub-nav {
        margin-top: -2px;
        padding-top: 0px;
        position: relative; }
        .wb-word-opt ul li .pannel-add .wb-sub-nav li {
          background: #fff;
          margin-bottom: 0px;
          padding: 0 10px;
          height: 30px; }
          .wb-word-opt ul li .pannel-add .wb-sub-nav li:first-child {
            border-bottom: 1px solid #D2D6D9; }
          .wb-word-opt ul li .pannel-add .wb-sub-nav li .add {
            display: block;
            width: 100%; }
            .wb-word-opt ul li .pannel-add .wb-sub-nav li .add:before {
              content: '+';
              margin-right: 3px;
              font-size: 16px;
              vertical-align: middle; }
          .wb-word-opt ul li .pannel-add .wb-sub-nav li a.cat {
            display: inline-block;
            width: 100%;
            height: 30px; }
        .wb-word-opt ul li .pannel-add .wb-sub-nav .item:hover {
          background: #ffeeee;
          color: #f83636; }
    .wb-word-opt ul li textarea {
      height: 70px;
      flex: 1;
      margin-left: 10px;
      vertical-align: top; }
  .wb-word-opt .add-revise {
    padding: 0 20px;
    height: 33px;
    line-height: 33px; }
    .wb-word-opt .add-revise input {
      margin-right: 5px; }
  .wb-word-opt .wb-btn .btn {
    width: 84px;
    line-height: 30px;
    height: 30px;
    float: right;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px; }
  .wb-word-opt .btn-remove {
    width: 100%;
    height: 30px;
    line-height: 28px;
    display: inline-block;
    background: #f3f4f5;
    border: 1px solid #c0c2c5;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box; }
